
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Event Log</h1>
</div><!-- /.jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa-solid fa-eye"></i>Load Data</h2>
      <p><a class="btn btn-outline-secondary" href="http://localhost:8080/import_events">1. Load Data&raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa-solid fa-eye"></i>View by Customer Id</h2>
      <p><a class="btn btn-outline-secondary" href="http://localhost:8080/query/30330c9c4e7173ba9474c46ee5191570">Try Me&raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa-solid fa-eye"></i>View by CustomerId & Time</h2>
      <p><a class="btn btn-outline-secondary" href="http://localhost:8080/query/30330c9c4e7173ba9474c46ee5191570/2021-03-01 04:00:00.00000/2021-03-01 06:00:00.848000">Try Me&raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
